.container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 850px;
}
.current{
    border-radius: 12px;
    height: 100%;
    width: 100%;
}
.circle-ind{
    display: flex;
    position: absolute;
    bottom: 1rem;
}
.current-ind{
background-color: aliceblue;
height: 15px;
width: 15px;
border: none;
margin: 3px;
cursor: pointer;
} 
.arrow{
    position: absolute;
    width: 39px;
    height: 49px;
    color: aliceblue;
    filter: drop-shadow(0px 0px 5px gray);
}
.arrowleft{
    left: 1rem;
}
.arrowright{
    right: 1rem;
}
.hide-image{
    display: none;
}
.hide-imag{
    background-color: gray;
}

