.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
.non{
   padding: 20px;
   border: 2px solid; 
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.non img{
    height: 100px;
    width: 150px;
}