body{
    background: rgb(218, 213, 213);
}


.wrapper{
    height: 100vh;
    width: 100vh;
}
.heading{
    display: flex;
justify-content: center;
gap: 23px;
}
.heading span {
    background-color: beige;
    border-radius: 12px;
    height: 1rem;
    width: 2rem;
}
